* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lalezar&display=swap");
/* menu */

.card-position {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* height: fit-content; */
}

.menu-container {
  display: flex;
}

.card-drinks .food-card-container {
  flex-grow: 1;
}

.card-food .food-card-container {
  flex-grow: 1;
}

.card-athome .food-card-container {
  flex-grow: 1;
}

.card-drinks {
  display: flex;
  flex-wrap: wrap;
}

.card-food {
  display: flex;
  flex-wrap: wrap;
}

.card-athome {
  display: flex;
  flex-wrap: wrap;
}

.food-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding-top: 10px;
  color: #008248;
  font-size: x-large;
}

.food-title h2 {
  font-family: "Lalezar", cursive;
}

.navlinks {
  text-decoration: none;
  color: black;
}
.active {
  color: #008248;
}
/* side bar */

.side-bar {
  margin-left: 60px;
  color: #1e3932;
}

.side-bar-list ul {
  list-style: none;
  margin-bottom: 15px;
}

.side-bar-list li {
  margin-top: 15px;
  font-weight: 450;
}

/* cards css */
.food-card-img img {
  border-radius: 50%;
}

.food-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e3932;
  margin: 5px;
  margin-left: 50px;
  height: fit-content;
  margin-top: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
  padding: 10px;
}

.food-card-img {
  padding-right: 15px;
}

.food-item {
  padding-right: 3px;
}
